$darkBG: #5A1F00;
$accentBG: #D1570D;
$textBG: #FDE792;
$accentText: #477725;
$secondaryTextAccent: #A9CC66;

/* Color Theme Swatches in Hex */
$sunset-purple: #2E112D;
$sunset-carmine: #540032;
$sunset-darkpink: #870C35;
$sunset-darkorange: #C93C3E;
$sunset-orange: #F0673A;