@import "./colors.scss";

@font-face {
    font-family: Momcake;
    src: url(../assets/fonts/Momcake.otf);
}

html, body {
    margin: 0;
    height: 300%;
    background-color: $textBG;
    font-family: Momcake;
}

.heading {
    background-image: url("../assets/images/temp_heading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 70vh;
}

.edge {
    box-shadow: 0px 12px 30px $sunset-purple, 0px -10px 30px $sunset-purple;
}

.heading h1 {
    color: $sunset-purple;
    margin: 0px;
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    color: $sunset-purple;
    width: 70%;
    margin: 100px auto 100px auto;
    font-size: 1.5em;
}